# Environnements virtuels
climat_env/
venv/
.venv/

# Caches Python
**/__pycache__/
*.pyc

# Données 
data/raw/*
data/processed/*

# Secrets et IDE
.env
.vscode/
.idea/
.DS_Store

# Notebooks Jupyter
climat-1.ipynb